@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #005fac;
  --secondary-color: #16d887;
  --secondary-color-light: #e0f7f1;
  --primary-font: "Work Sans", sans-serif;
  --container-lr-padding: 14.38rem;
  --flex-gap: 6.58rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  min-height: 50.5rem;
  margin: 0 auto;
}

.container-padding {
  padding: 0 var(--container-lr-padding);
}

.navbar {
  width: 70%;
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-radius: 900px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.navlink-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1.5rem;
}

.navlink {
  cursor: pointer;
  list-style: none;
}

.navlink a {
  color: #151414;
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#hero {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/banner/banner4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}

#hero .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
}

#hero .hero-container h1 {
  width: 32.8125rem;
  color: #000;
  text-align: right;
  font-size: 4.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#hero .hero-container p {
  width: 30.875rem;
  color: #000000a8;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

button[class="cta"] {
  width: 10rem;
  height: 4rem;
  border-radius: 0.3125rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
  cursor: pointer;
}

#failures {
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--flex-gap);
}

.failure-container .left img {
  max-width: 32.99556rem;
  vertical-align: middle;
}

.failure-container .right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
  padding-top: 7rem;
}

.failure-container .right h2 {
  max-width: 18rem;
  color: #151414;
}

.failure-container .right p {
  max-width: 26rem;
  color: #444343;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

#failures .failure-container .items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#failures .failure-container .items-container p {
  color: #444343;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

#failures .failure-container .items-container i {
  color: #16d887;
}

#plans .plan-container {
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}

#plans .plan-goals {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#plans .plan-goals h3 {
  color: #151414;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#plans .plan-goals p {
  color: #737272;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.plan-top-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.13rem;
}

.plan-banner {
  padding: 3.69rem 4rem;
  border-radius: 1rem;
  background: linear-gradient(90deg, #060606ff 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.webp");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.plan-banner h2 {
  width: 28.6875rem;
  color: #fff;
  text-align: left;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#plans .plan-container .plan-goals .goal img {
  width: 4.5rem;
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.goal img {
  margin-bottom: 0.5rem;
  max-width: 5.80988rem;
}

footer form input[type="email"] {
  width: 20.3125rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  color: #f3f3f3;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.3rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  background-color: transparent;
}

footer form input[type="submit"] {
  width: 10rem;
  height: 4rem;
  border-radius: 0.3125rem;
  background-color: #005fac;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .container-padding {
    padding: 0 2rem;
  }

  .failure-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 4rem;
  }

  .plan-goals {
    flex-wrap: wrap;
  }

  .goal {
  }

  footer .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 0;
  }

  .navbar {
    direction: none;
  }
}
